*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;

}
#main{
    background-color:rgb(239, 239, 239);
    height: 100%;
    width: 100%;
}

#navBar{
    /* background-color: beige; */
    display: flex;
    height: 10px;
    width: 100%;
    padding: 30px 30px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#navBar h2{
    font-size: 20px;
    font-weight: 400;
}

#navBar i{
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    font-weight: 400;
} 


#center{
    /* background-color: skyblue; */
    width: 100%;
    padding: 40px 80px;
    font-size: 30px;
    font-weight: 500;
    line-height: 67px;  
    margin-bottom: 0%;
    

  
}

#belowCenter{
    /* background-color: lightcoral; */
    margin-top: 30px;
    padding: 4px ;
    line-height: 28px;
    font-size: medium;
    display: flex;
    justify-content: space-between;

}

#belowCenter p{
    font-size: 20px;
    font-weight: 500;
}

#bottomRight{
    width: 20%;
    margin-bottom: 0%;

}
.elem{
    /* background-color: lightsalmon; */
    padding: 15px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;

}

.elem i{
    font-size: 20px;
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
    
}

.elem:hover a{
    text-decoration: underline;
}

#navBar:hover h2{
   
    cursor: pointer;
}

#bottomImage{
  
    height: 80%;
    width: 100%;
    background-color: lightyellow;
    background-image: url(https://i.pinimg.com/564x/57/b8/0f/57b80fe6c4d0589bb8072f1381b44c43.jpg);
    background-size: cover;
    background-position: 0 13%;
}
